body {
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    padding: 20px;
}

section {
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
}

#team-images img {
    width: 150px;
    height: auto;
    margin: 10px;
}

#get-started a, #first-contributions a, #feedback a {
    max-width: fit-content;
    display: block;
    margin: 10px;
    margin-inline: auto;
    color: blue;
    text-decoration-line: underline;
    text-decoration-style: solid;
    transition: 0.75s;
}

#get-started a:hover, #first-contributions a:hover, #feedback a:hover {
    font-size: 22px;
    color: gold;
    text-decoration-line: underline;
    text-decoration-style: wavy;  
}

h1, h2 {
    max-width: fit-content;
    margin-inline: auto;
    color: lightgreen;
}

.image{

    /* grayscale animation (beginning) */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    /* Growth animation (beginning) */
    transition: 1s ease;
}

.image:hover{

    /* grayscale animation (end) */
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);

    /* growth (end) */
    -webkit-transform: scale(120%);
    -ms-transform: scale(120%);
    transform: scale(120%);
    transition: 1s ease;

    /* border */
    box-shadow: 0 0 0 2px;
}
#ULIST{
    transition: 1s ease;
}

.ULIST:hover:hover{
    color: orangered;
    font-size: 110%;
    font-weight: bold;
    /* font-style: italic; */
    transition: 1s ease;
}
